* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: rgba(37, 22, 121);
  --clr-accent: rgba(140, 125, 220);
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}
.App {
  font-family: var(--ff-primary);
  font-weight: --fw-reg;
  background-image: url("../images/SunsetAtZionPark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: var(--clr-light);
}
