*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}  
    
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    background-image: url("../images/SunsetAtZionPark.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-family: 'PT Serif', serif;
    color: #ccc;
}