.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  background: var(--clr-accent);
  color: #1a1a1a;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}
