.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  border-radius: 7px;
  background: var(--clr-accent);
  color: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}
.btn-top {
  margin-top: 0.5em;
}
