.section__title {
  margin-bottom: 0.25em;
}
.section__title--intro {
  font-weight: var(--fw-reg);
}
/* only done to keep name together */
.section__title--intro bold {
  display: block;
}
.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}
/* Intro section */
.intro {
  position: relative;
}
.bold {
  font-weight: var(--fw-bold);
}
.intro__img {
  box-shadow: var(--bs);
}
.section__subtitle--intro {
  display: inline-block;
}
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}
.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em, 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.projects__display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.project__container {
  border: yellow 1px solid;
  background-color: var(--clr-accent);
  width: 95%;
  padding: 1em;
  margin: 2em;
  text-align: center;
}

.section {
  height: 25%;
}
.section__header {
  text-align: center;
}
