.section__title {
  margin-bottom: 0.25em;
}
.section__title--intro {
  font-weight: var(--fw-reg);
}
/* only done to keep name together */
.section__title--intro bold {
  display: block;
}
.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}
/* Intro section */
.intro {
  position: relative;
}
.bold {
  font-weight: var(--fw-bold);
}
.intro__img {
  box-shadow: var(--bs);
}
.section__subtitle--intro,
.section__subtitle--about {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}
@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .intro__img {
    border-radius: 100%;
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}
.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* Contact */
.section__title--contact {
  text-shadow: 2px 2px rgb(0, 0, 255);
}
.contact {
  background-color: var(--clr-accent);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 0, 0.3),
    rgba(43, 76, 102, 0.3),
    rgba(0, 51, 102, 0.3)
  );
  color: var(--clr-light);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}
.contact a {
  color: inherit;
  text-decoration: none;
}
.contact__link {
  font-weight: var(--fw-bold);
}
.contact__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}
.contact__link:hover {
  text-decoration: underline;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}
.social-list__item {
  margin: 0 0.5em;
}
.social-list__link {
  padding: 1em;
}
/* About Me */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}
@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2px;
  }
  .section__title--about {
    grid-column: title;
  }
  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -2em;
    width: calc(100% + 2em);
    padding-left: -1em;
    padding-right: calc(200px + 4em);
  }
  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My Experience */
.my-experience {
  background-color: var(--clr-darker-accent);
  background-image: url(../images/laptop.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}
.section__title--experience {
  color: var(--clr-accent);
  position: relative;
}
.section__title--experience::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}
.experience {
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 800px) {
  .experience {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
  }
}
